cycler==0.9.0
decorator==4.0.2
Django==1.7.1
Flask==0.10.1
Flask-SQLAlchemy==2.1
ipython==4.0.0
ipython-genutils==0.1.0
ipython-sql==0.3.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
path.py==8.1.1
pickleshare==0.5
prettytable==0.7.2
psycopg2==2.6.1
pyparsing==2.0.7
python-dateutil==2.4.2
pytz==2015.4
simplegeneric==0.8.1
six==1.9.0
SQLAlchemy==1.0.8
sqlparse==0.1.16
traitlets==4.0.0
virtualenv==13.1.2
Werkzeug==0.11.3
